@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
  /*COLORS*/
  --color-gray-20: #F8F4EB;
  --color-gray-50: #EFE6E6;
  --color-gray-100: #DFCCCC;
  --color-gray-500: #5E0000;
  --color-primary-100: #FFE1E0;
  --color-primary-300: #FFA6A3;
  --color-primary-500: #FF6B66;
  --color-secondary-400: #FFCD5B;
  --color-secondary-500: #FFC132;
  /*CONTENT*/
  --evolve-text: url('./assets/EvolveText.png');
  --abstractwaves: url('./assets/AbstractWaves.png');  
  --sparkles: url('./assets/Sparkles.png');
  --circles: url('./assets/Circles.png');
  
   
}
html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  @apply text-gray-500;
}



